Source: xserver-xorg-video-imx-viv
Priority: extra
Maintainer: Josua Mayer <privacy@not.given>
Build-Depends: debhelper (>= 8.0.0),
 imx-gpu-viv-x11-dev (>= 5.0.11.p4.5),
 imx-gpu-viv-x11-dev (<< 5.0.11.p4.6),
 xserver-xorg-dev,
 libdrm-dev,
 libxext-dev,
Standards-Version: 3.9.3
Section: libs
#Homepage: <insert the upstream URL, if relevant>
Vcs-Git: https://github.com/mxOBS/deb-pkg_xserver-xorg-video-imx-viv.git
Vcs-Browser: https://github.com/mxOBS/deb-pkg_xserver-xorg-video-imx-viv

Package: xserver-xorg-video-imx-viv
Section: libs
Architecture: any-arm
Depends: ${shlibs:Depends},
 ${misc:Depends},
 ${xviddriver:Depends},
 imx-gpu-viv-x11 (>= 5.0.11.p4.5),
 imx-gpu-viv-x11-dev (<< 5.0.11.p4.6),
Provides: xorg-driver-video
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
